<div class="bg-white sticky top-0 inset-x-0 z-50 h-16">
  <header class="bg-white relative">
    <max-width-wrapper className="fixed-error">
      <div class="border-b border-gray-200">
        <div class="flex items-center h-16 ">
          <div class="ml-4 lg:ml-0 flex">
            <icons  />
          </div>
          <div class="ml-auto flex items-center gap-2">
            <div class="flex flex-1 items-center justify-center space-x-4">
              <a routerLink="/"><button hlmBtn variant="ghost" >Home</button></a>
              <a routerLink="/add-to-table"><button hlmBtn variant="ghost" >Add To Table</button></a>
            </div>
          </div>
        </div>
      </div>
    </max-width-wrapper>
  </header>
</div>
